<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="true"
    stopOnFailure="false"
    syntaxCheck="false"
    verbose="true"
    strict="true">
    <php>
        <includePath>../src</includePath>
    </php>
    <filter>
        <whitelist>
			<directory suffix=".php">../src/Services</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit"           target="./reports/unitreport.xml"/>
        <log type="coverage-clover" target="./reports/coverage.xml"/>
        <log type="coverage-html"   target="./reports/coverage/" charset="UTF-8" yui="true" highlight="true"/>
    </logging>
</phpunit>
